@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input, button {
    border: 1px solid black;
    padding: 0 0.25rem;
  }

  html, body, #root {
    width: 100%;
    height: 100%;
  }

  label {
    display: flex;
    gap: 0.5rem;
  }
}
